@import "reset.css";

@font-face{
  font-family: 'Montserrat';
  src: url('fonts/Montserrat-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

body {
  scroll-behavior: smooth;
}


/* Header styles */

header{
  width: 100%;
  height: 100%;
  background:
    linear-gradient(
      rgba(0,0,0,0.9),
      rgba(0,0,0,0.9)
      ),
      url(img/people-background.png) no-repeat 0 -250px fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header img{
  width: 53px;
  height: 53px;
  box-shadow: inset 0 1px 3px 0 #000000;
  display: block;
  position: relative;
  margin: 0 auto 0 auto;
  top: 120px;
}

h1{
  top: 211px;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  line-height: 50px;
  text-align: center;
  color: #ffffff;
  font-weight: normal;
  font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  text-shadow: 0, 1px, 1px, rgba(0,0,0,0.5);
}

h1 span {
  display: block;
  font-family: 'Playfair Display', serif;
  font-size: 22px;
  color: #ffffff;
  font-weight: normal;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.primary-button{
  display: block;
  position: relative;
  width: 158px;
  height: 42px;
  border-radius: 2px;
  background-color: #e35151;
  text-align: center;
  line-height: 40px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #ffffff !important;
  font-weight: 300;
  font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  transition: all 0.5s;
}

.primary-button:hover{
  color: #fff;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(227,81,81,0.3);
  background-color: rgba(227,81,81,0.9);
}

.primary-button:active{
  box-shadow: inset 0 1px 3px 0 rgba(51,51,51,0.8);
}

header .primary-button{
  margin: 300px auto 120px auto;
}

/* First section - About Product Tribes/Virtual Events */

.tabs-container{
  position: relative;
  margin: 0 auto 0 auto;
  max-width: 100%;
  height: 100%;
  overflow: hidden;
}

.tabs{
  width: 100%;
  height: 50px;
  background-color: #111;
  text-align: center;
}

.tabs li {
  display: inline;
  line-height: 50px;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: #ffffff;
  font-weight: 300;
  font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  cursor: pointer;
}

.tabs li:first-of-type {
  margin-right: 33px;
}

.underline {
  border-bottom: 1px solid #fff;
  list-style-type:none;
  list-style-position: inside;
  padding-bottom: 5px;
}


.description-container{
  position: relative;
  height: 100%;
  margin: 0 auto 650px auto;
  max-width: 1600px;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

h2 {
  font-family: 'Playfair Display', serif;
  font-size: 33px;
  color: #222222;
  font-weight: normal;
  font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  text-align: center;
  margin: 100px 0 100px 0;
}

.slack {
  float: right;
  border: 1px solid #f0f0f0;
  border-radius: 3px;
  width: 829px;
  height: 508px;
  box-shadow: 3px 10px 20px #f0f0f0;
}

.description {
  width: 580px;
  float: left;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: #333333;
  font-weight: 300;
  font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  line-height: 30px;
  margin: 20px 0 83px 20px;
  list-style: none;
}

.description li{
  margin-bottom: 40px;
}

.group-icon{
  background-image: url("img/group.png");
  background-repeat: no-repeat;
  background-position: center left;
  padding-left: 80px;
}

.feedback-icon{
  background-image: url("img/feedback.png");
  background-repeat: no-repeat;
  background-position: center left;
  padding-left: 80px;
}

.webinars-icon{
  background-image: url("img/webinars.png");
  background-repeat: no-repeat;
  background-position: center left;
  padding-left: 80px;
}

.tabs-container .primary-button{
  position: relative;
  margin: 0 auto 0 auto;
  text-align: center;
  display: flex;
  align-items : center;
  justify-content : center;
}

/* Second Section - Form*/

#form-container{
  height: 722px;
  background-color: #111;
  padding-top: 60px;
  margin-top: 115px;
}

#form-container h2{
  color: #fff;
  margin: 0;
}

.join-instruction{
  display: block;
  width: 730px;
  margin: 48px auto 63px auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #ffffff;
  font-weight: 300;
  font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  line-height: 25px;
  text-align: left;
}

.hours{
  font-weight: bolder;
}

.apply-form{
  width: 347px;
  margin: 0 auto 0 auto;
}

.apply-form input{
  display: block;
  width: 347px;
  height: 48px;
  border: 1px solid #ffffff;
  border-radius: 2px;
  background-color: transparent;
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  padding-left: 10px;
}

.normal-label{
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  color: #fff;
  font-weight: 300;
  text-transform: uppercase;
  font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  position: relative;
  top: 35px;
  left: 15px;
  transition: 0.3s all;

}

.small-label{
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-size: 10px;
  top: 17px;
  left: 10px;
  color: #666;
  text-transform: uppercase;
  transition: 0.3s all;
}

.apply-form .primary-button{
  display: block;
  width: 158px;
  height: 42px;
  margin: 71px auto 0 auto;
  border-radius: 2px;
  border: 0;
  background-color: #e35151;
  text-align: center;
  line-height: 40px;
}

#submit-button{
  border: none;
  outline-style: none;
}

.wait {
    border: 5px solid rgba(255,255,255,0.3);
    border-top: 5px solid rgba(173,63,59,1);
    border-radius: 50%;
    width: 5px;
    height: 5px;
    animation: spin 0.8s linear infinite;
    margin: 0 auto 0 auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.success{
  display: block;
  width: 360px;
  height: 48px;
  margin: 71px auto 0 auto;
  border-radius: 2px;
  background-color: #01A2A6;
  line-height: 40px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #ffffff !important;
  font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.all-fields-required{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  color: #f0f0f0;
  font-weight: 300;
  margin-top: 10px;
}

/* Form validation classes */

.error{
  display: block;
  position: relative;
  background-color: #f07b68;
  width: 360px;
  margin: -10px 0 0 0;
  padding: 5px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  color: #f0f0f0;
  font-weight: 300;
}

.error-input{
  border: 1px solid #f07b68 !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  outline: rgba(0, 0, 0, 0);
}

/* Events tab styles */

.events-container{
  position: relative;
  margin: 0 auto 0 auto;
  max-width: 1600px;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}

.events-container h2{
  width: 100%;
  margin-bottom: 35px;
  position: relative;
}

.events-description{
  width: 850px;
  display: block;
  margin: 0 auto 83px auto;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #333;
  font-weight: 300;
  line-height: 25px;
}

.events {
  display: block;
  margin: 0 auto 0 auto;
  width: 850px;
}

.event{
  padding-left: 25px;
  margin-bottom: 60px;
}

.black{
  border-left: 7px solid #000;
}

.silver{
  border-left: 7px solid #e5e6ea;
}

.event h3{
  margin-bottom: 10px;
}

.event ul{
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #333333;
  font-weight: 300;
  line-height: 30px;
}

.event a{
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #006cfa;
  font-weight: 300;
  line-height: 44px;
  text-decoration: underline;
}

.event li em {
  font-weight: normal;
}

/* Tabs style for JS*/

.inactive {
  display: none;
}

/* Footer styles */


footer{
  width: 100%;
  height: 650px;
  background-color: #fff;
  position: relative;
}

footer .uxpin-logo{
  display: block;
  position: relative;
  width: 57px;
  height: 57px;
  margin: 92px auto 60px auto;
}

h3{
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  color: #333333;
  font-weight: normal;
}

footer h3{
  text-align: center;
}

footer h3 em{
  font-weight: 300;
}

.secondary-button{
  display: block;
  position: relative;
  width: 161px;
  height: 42px;
  border-radius: 2px;
  background-color: #006cff;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #ffffff;
  line-height: 40px;
  text-align: center;
  font-weight: 300;
  font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  transition: all 0.5s;
}

.secondary-button:hover{
  color: #fff;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(0,108,255,0.3);
  background-color: rgba(0,108,255,0.9);
}

.secondary-button:active{
  box-shadow: inset 0 1px 3px 0 rgba(0,108,255,0.8);
}

footer .secondary-button{
  margin: 80px auto 40px auto;
}

.uxpin-footer{
  width: 868px;
  height: 307px;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  margin: 0 auto 0 auto;
}

.inactive {
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}
